@model VarastoMVC.Models.Artikkelit

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Artikkelit</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Artikkelinimi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Artikkelinimi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Artikkelinimi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.KategoriaId, "KategoriaId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("KategoriaId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.KategoriaId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div id="paikka" class="col-md - 10"></div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>

    <div id="artikkelit"></div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

        <script>
            // Määritellää funktio
            async function getJson() {
                    let x = `<select class="form-control" id="ArtikkeliId" name="ArtikkeliId">` // select listin alkutägi

                    const response = await fetch("https://localhost:44349/artikkelit/ArtikkelitByKategoria/1")
                    const artikkelit = await response.json() // muunnetaan json vastaus javascript muotoon
                    await artikkelit.map(a => {
                        x += `<option value="${a.ArtikkeliId}">${a.ArtikkeliNimi}</option>` // map silmukka
                    })

                    x += `</select>` // päättyvä tägi

                    document.getElementById("paikka").innerHTML = x // sijoitus html sivulle
                }

                // kutsu
                getJson()
        </script>

    }
