@model VarastoMVC.Models.Artikkelit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Artikkelit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Artikkelinimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artikkelinimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kategoriat.KategoriaNimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategoriat.KategoriaNimi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArtikkeliId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
