@model IEnumerable<VarastoMVC.Models.Artikkelit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Artikkelinimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kategoriat.KategoriaNimi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Artikkelinimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kategoriat.KategoriaNimi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ArtikkeliId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ArtikkeliId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArtikkeliId })
        </td>
    </tr>
}

</table>
